body {
  font-family: 'poppins', 'sans-serif';
  font-size: 16px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1C2826;
}

textarea {
  background: #B3B3B3;
  border: none;
  resize: none;
  color: black;
  font-family: 'sans-serif';
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 16px;
}



.jumbotron {
  background-color: transparent;
  color: white;
  height: 200px;
  border-radius: 0;
  font-family:monospace;
  font-size: 20px;
  align-self: center;
  text-align: center;
  flex-direction: column;
  
}

.success {
  align-self: center;
  width: 300px;
  color: white;
}

.hide{
  display: none
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}
