body {
  font-family: 'poppins', 'sans-serif';
  font-size: 16px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1C2826;
}

textarea {
  background: #B3B3B3;
  border: none;
  resize: none;
  color: black;
  font-family: 'sans-serif';
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 16px;
}



.jumbotron {
  background-color: transparent;
  color: white;
  height: 200px;
  border-radius: 0;
  font-family:monospace;
  font-size: 20px;
  align-self: center;
  text-align: center;
  flex-direction: column;
  
}

.success {
  align-self: center;
  width: 300px;
  color: white;
}

.hide{
  display: none
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}


.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 10px;
  padding: 20px;
  border-radius: 5px;
} 


.row {
  max-width: 600px;
  color: #242424;
  background-color: #ccc;
  font-weight: 600;
  text-align: center;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-radius: 5px;
}

.row span {
  align-self: center;
}


.hour {
  color: black;
  font-size: 32px;
  align-self: center;
} 

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  color: white;
  width: 100px;
  background: #0f8fc7;
  border: none;
  height: 40px;
  font-family: 'sans-serif';
  border-radius: 15px;
  font-size: 15px;
  align-self: center;
}

.saveBtn:hover {
background: #96C3CE;
}